/* dark mode */
body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, p {
    color: #fff;
    margin: 0.5em 0;
}

nav {
    background-color: #2d2d2d;
    color: #f4f6f8;
    width: 14rem;
    height: 100vh;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.search-input {
    background-color: #444;
    color: #f4f6f8;
    width: calc(100% - 20px);
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    margin-bottom: 1em;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.search-input:hover {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.main-content {
    margin-left: 270px;
    padding: 2em;
    width:calc(100% - (margin-left + padding));
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    margin-bottom: 2em;
}

section > ul > li {
    list-style-type: none;
    padding: 0.25rem;
    margin-left: 0;
    overflow-wrap: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-clip: border-box;
    text-decoration: none;
}
